<%= form_with model:  @event do |form| %>
    <div class="field">
        <%= form.label :name, 'Name'%>
        <%= form.text_field :name%>
    </div>
    <div class="field">
        <%= form.label :description, 'Description' %>
        <%= form.text_area :description %>
    </div>
    <div class="field">
        <%= form.label :date, 'Date' %>
        <%= form.date_field :date %>
    </div>

    <div class="field"><%= form.submit  'Create Post' %></div>
<% end %>