<% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <%= link_to "Create Event", new_user_event_path(current_user.id) %>
    <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Log In", new_user_session_path,  data: { turbo: "false" } %>
<% end %>
<h2>List of all events taking place</h2> 
<% @events.each do |event| %>
    <ul>
        <li><%=event.name%></li>
        <li><%=event.description%></li>
    </ul>
<% end %>