<% stylesheet_link_tag "event-create" %>
<div class="main-content">
    <div class="form-header">Create a new Event</div>
    <%= form_with model: @event do |form| %>
        <div class="field">
            <%= form.label :name, 'Name'%>
            <%= form.text_field :name%>
        </div>
        <div class="field">
            <%= form.label :description, 'Description' %>
            <%= form.text_area :description %>
        </div>
        <div class="field">
            <%= form.label :date, 'Date' %>
            <%= form.date_field :date %>
        </div>
    
        <div class="field"><%= form.submit 'Create ', class: 'submit' %></div>
    <% end %>
</div>